<form (submit)="updateBee()">
  <div class="sky-form-group">
    <label class="sky-control-label sky-control-label-required">
      Name
    </label>
    <input class="sky-form-control" type="text" name="name" [(ngModel)]="bee.name">
  </div>
  <div class="sky-form-group">
    <label class="sky-control-label sky-control-label-required">
      Species
    </label>
    <input class="sky-form-control" type="text" name="species" [(ngModel)]="bee.species">
  </div>
  <div class="sky-form-group">
    <label class="sky-control-label sky-control-label-required">
      Description
    </label>
    <textarea class="sky-form-control" name="description" [(ngModel)]="bee.description"></textarea>
  </div>
  <button>Save</button>
</form>
