.bee-detail {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto;
}

.bee-detail-description {
  grid-column-start: 1;
  grid-column-end: 3;
}

.bee-detail-image {
  padding: 1em;
}

.bee-detail-image img {
  width: 100%;
  height: auto;
}
