<table>
  <thead>
    <tr>
      <th>{{ 'bee_table_name_header' | skyAppResources }}</th>
      <th>{{ 'bee_table_species_header' | skyAppResources }}</th>
      <th>{{ 'bee_table_is_deadly_header' | skyAppResources }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bee of bees"
        [ngClass]="{ 'skyux-is-awesome': bee === selectedBee }"
        [class.skyux-is-awesome]="bee === selectedBee">
      <td>
        <a [skyAppLink]="['/bees', bee.id]">
          {{ bee.name }}
        </a>
      </td>
      <td>{{ bee.species }}</td>
      <td>{{ bee.deadly ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>

<button (click)="ngOnInit()">Reload bees</button>

<div *ngIf="selectedBee">
  <app-bee-detail *ngIf="!isEditing" [bee]="selectedBee"></app-bee-detail>
  <app-bee-editor (wantsToSave)="handleEdit($event)" *ngIf="isEditing" [bee]="selectedBee"></app-bee-editor>
</div>
